 // #FFFFFF
 // #FC4747
 // #10141E
  // #161D2F
 // #5A698F
 // #C3C4C7
// #87898E

$white: hsl(0,0%,100%);
$red: hsl(0,97%,63%);
$dark-blue: hsl(223,30%,9%);
$semi-dark-blue: hsl(223,36%,14%);
$grayish-blue: hsl(223,23%,46%);
$gray: hsl(225,3%,77%);
$placeholder-color: hsl(223,3%,54%);
$bg: rgb(14 116 144);
$green: rgb(15 118 110);
